.sponsor-bar {
    position: static;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
    flex-shrink: 1;
    background-color: #EDC9AF;
    background-image: url('../../assets/wood-pattern-main.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /*    Credit: https://www.transparenttextures.com/wood-pattern.html*/
}

.sponsor-bar.left {
    left: auto;
}

.sponsor-bar.right {
    right: auto;
}

.sponsor-bar .sponsor-banner {
    margin-bottom: 20px;
}

@media screen and (min-width: 994px) {
    .sponsor-bar {
        position: fixed;
        width: 10vw;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 100px;;
    }

    .sponsor-bar.left {
        left: 0;
    }

    .sponsor-bar.right {
        right: 0;
    }

    .sponsor-bar.up {
        left: 0;
    }
    .sponsor-bar.down {
        right: 0;
    }
}

@media screen and (min-width: 1200px) {
    .sponsor-bar{
        padding-top: 100px;
        width: 15vw;
    }
}