.management-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

@media screen and (min-width: 1200px) {
    .management-collection {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}