.sponsor-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.sponsor-logo {
    width: 50px;
    height: auto;
    display: flex;
    margin: 5px 0;

}

@media screen and (min-width: 1200px) {
    .sponsor-logo {
    width: 180px;
    height: auto;
    display: flex;
    margin: 5px 0;
    }
}

.sponsor-logo:hover {
    transform: translateY(-4px);
    box-shadow:
            0 8px 20px rgba(0,0,0,0.25),
            0 0 12px rgba(188, 76, 42, 0.5);
}