.team-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 80px;
    width: 100%;
}

.team-card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.team-card-container .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}