@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    1. Global Styles
////////////////////////*/

/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Setup */
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #AD2831;
    background-color: #F7E7CE;

}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    padding: 0;
}

section {
    background-color: #F6F3EF;
    height: 400px;
    overflow: hidden;
    flex-basis: 350px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav a,
nav a:visited,
nav a:active {
    color: #ffffff;
}

.page-content {
    padding: 2rem;
    margin: 2rem auto;
}

.page-content h3 {
    margin-bottom: 1rem;
}

.page-content p {
    margin-top: 1rem;
}

.outer-container-incl-sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: var(--navbar-height)
}

.outer-container-excl-sponsor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    padding-top: var(--navbar-height);
    padding-bottom: 20px;
    width: 100vw
}

.outer-container-incl-sponsor,
.outer-container-excl-sponsor {
    background-image: url('./assets/wood-pattern-main.png');
    background-size: auto;
    background-position: top left;
    background-repeat: repeat;
    background-attachment: scroll;
    min-height: 100vh;
    width: 100%;
    /*    Credit: https://www.transparenttextures.com/wood-pattern.html*/
}

.hover-effect:hover {
    box-shadow: 0 8px 20px #00000040,
    0 0 12px #bc4c2a66;
    transform: translateY(-4px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: none;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

legend {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    gap: 4px;
}

input,
textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #640D14;
    box-shadow: 0 0 0 2px #640D1433;
}

/*////////////////////////
    2. Typography
////////////////////////*/
/*Red colors:

Black bean: #250902
Black bean: #38040E
Rosewood: #640D14
Falu red: #800E13
Auburn: #AD2831
White: #ffffff
*/

a,
a:link,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1em;
    color: #250902;
}

p a {
    color: #800E13;
    font-weight: 500;
    text-decoration: underline;
}

p a:hover,
p a:focus {
    color: #640D14;
    text-decoration-color: #AD2831;
}


h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

h1,
h2 {
    font-weight: 700;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 14px;
}

.small-explanation {
    font-size: 12px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 994px) {

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h1,
    h2 {
        text-align: center;
    }

    .outer-container-incl-sponsor {
        padding-left: 10vw;
        padding-right: 10vw;
    }


}

@media screen and (min-width: 1200px) {
    p {
        font-size: 16px;
        line-height: 1.8;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    .outer-container-incl-sponsor {
        padding-left: 15vw;
        padding-right: 15vw;
    }
}

@media screen and (min-width: 1600px) {
    h3 {
        font-size: 24px;
    }
}


