.user-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #38040E;
    padding: 10px;
    text-align: center;
    width: 220px;
    height: 320px;
    box-sizing: border-box;
    word-break: break-word;
    box-shadow: 0 6px 12px #00000066;
    border-radius: 1rem;
    background-color: #f9f9f9;
}

.user-profile-pic,
.no-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .user-card {
        width: 187px;
        height: 350px;
    }
    .user-profile-pic,
    .no-logo {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 1600px) {
    .user-card {
        width: 250px;
        height: 400px;
    }
    .user-profile-pic,
    .no-logo {
        width: 250px;
        height: 250px;
    }
}